{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'bookapp/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Book List</h1>
        <a href="{%url 'book_create' %}">Add New Book</a>
        <table>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
            {%for book in books %}
            <tr>
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                <td>{{book.price}}</td>
            </tr>
            <td>
                <a href="{%url 'book_update' book.pk%}">Edit</a>
                <a href="{%url 'book_delete' book.pk%}">Delete</a>
            </td>
            {%endfor%}
        </table>
    </div>
</body>
</html>